@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,900;1,500&display=swap');
$font-stack: 'Poppins', sans-serif;
$background-color: #222;
$text-color: white;
$link-color: #222125;
$link-active-color: #ada7a4;

body {
  font-family: $font-stack;
  color: $text-color;
  margin: 0;
}

main {
  z-index: 1;
}

a {
  color: $link-color;
  text-decoration: none;

  &:visited,
  &:active,
  &:hover {
    color: $link-active-color;
  }
}

h1 {
  font-size: 24px;
  margin: 0 0 10px 0;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  max-width: 1300px;
  width: calc(100% - 60px);
  padding: 0 30px;
  position: relative;
}

.quote-container {
  padding: 30px 0;
  position: relative;
  min-height: calc(100vh - 60px);
}

.time {
  padding: 10px;
  background-color: $text-color;
  color: $background-color;
  width: 100px;
  text-align: center;
}

.time,
.quote {
  font-size: 24px;
  font-weight: 600;
}

.quote {
  margin: 0 0 60px 0;
  padding-top: 30px;
  max-width: 100%;

  .time-bold {
    font-weight: 900;
  }
}

.title-container {
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 0 30px 0;
}

.title {
  font-style: italic;
}

@media (min-width: 768px) {
  .container {
    width: calc(100% - 80px);
    padding: 0 40px;
  }

  .quote-container {
    padding: 80px 0;
    min-height: calc(100vh - 160px);
  }

  .time,
  .quote {
    font-size: 30px;
  }

  .quote {
    max-width: 66.66666%;
    padding-top: 60px;
  }

  .time {
    width: 130px;
  }

  .title-container {
    font-size: 20px;
    padding: 0 0 80px 0;
  }
}
